# Load Data

In [1]:
import pickle
enron_data = pickle.load(open('./tools/final_project_dataset.pkl', 'rb'))

# Dig Into Data

In [2]:
len(enron_data)

146

In [3]:
import random

person = random.choice(list(enron_data.values()))
person

{'bonus': 1100000,
 'deferral_payments': 842924,
 'deferred_income': -719000,
 'director_fees': 'NaN',
 'email_address': 's..muller@enron.com',
 'exercised_stock_options': 1056320,
 'expenses': 'NaN',
 'from_messages': 16,
 'from_poi_to_this_person': 12,
 'from_this_person_to_poi': 0,
 'loan_advances': 'NaN',
 'long_term_incentive': 1725545,
 'other': 947,
 'poi': False,
 'restricted_stock': 360528,
 'restricted_stock_deferred': 'NaN',
 'salary': 251654,
 'shared_receipt_with_poi': 114,
 'to_messages': 136,
 'total_payments': 3202070,
 'total_stock_value': 1416848}

In [4]:
# number of entries each person
len(person)

21

## Use pandas to analyze

In [5]:
import pandas as pd

df = pd.DataFrame(enron_data).T

In [6]:
df.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,...,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,...,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,...,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [7]:
len(df[df.poi == 1])

18

---

# How many POIs were There total?

In [8]:
counter = 0
with open('tools/poi_names.txt', 'r') as input_file:
    for row in input_file.readlines():
        if row.startswith('('):
            counter += 1
            
print(counter)

35

---

In [9]:
df[df.index == 'PRENTICE JAMES'].total_stock_value

PRENTICE JAMES    1095040
Name: total_stock_value, dtype: object

In [10]:
df.loc['COLWELL WESLEY']

bonus                                      1200000
deferral_payments                            27610
deferred_income                            -144062
director_fees                                  NaN
email_address                wes.colwell@enron.com
exercised_stock_options                        NaN
expenses                                     16514
from_messages                                   40
from_poi_to_this_person                        240
from_this_person_to_poi                         11
loan_advances                                  NaN
long_term_incentive                            NaN
other                                       101740
poi                                           True
restricted_stock                            698242
restricted_stock_deferred                      NaN
salary                                      288542
shared_receipt_with_poi                       1132
to_messages                                   1758
total_payments                             1490344
total_stock_value                           698242
Name: COLWELL WESLEY, dtype: object

In [11]:
[i for i in df.index if 'SKILLING' in i]

['SKILLING JEFFREY K']

In [12]:
df.loc['SKILLING JEFFREY K']

bonus                                        5600000
deferral_payments                                NaN
deferred_income                                  NaN
director_fees                                    NaN
email_address                jeff.skilling@enron.com
exercised_stock_options                     19250000
expenses                                       29336
from_messages                                    108
from_poi_to_this_person                           88
from_this_person_to_poi                           30
loan_advances                                    NaN
long_term_incentive                          1920000
other                                          22122
poi                                             True
restricted_stock                             6843672
restricted_stock_deferred                        NaN
salary                                       1111258
shared_receipt_with_poi                         2042
to_messages                                     3627
total_payments                               8682716
total_stock_value                           26093672
Name: SKILLING JEFFREY K, dtype: object

In [13]:
df['total_payments'][['LAY KENNETH L', 'SKILLING JEFFREY K', 'FASTOW ANDREW S']]

LAY KENNETH L         103559793
SKILLING JEFFREY K      8682716
FASTOW ANDREW S         2424083
Name: total_payments, dtype: object

In [14]:
len(df[df.salary != 'NaN'])

95

In [15]:
len(df[df.email_address != 'NaN'])

111

# Optional

In [16]:
len(df[df.total_payments == ''])

0